<%= simple_form_for @service, :validate => true do |f| %>
	    <%= f.input :name, label: "Business name" %>
	    <%= f.input :address1 %>
	    <%= f.input :address2 %>
	    <%= f.input :city %>
	    <%= f.input :state %>
	    <%= f.input :zip, label: "Zip code" %>
	   	<%= f.input :phone %>
	   	<%= f.input :email, placeholder: "Email address for customer inquiries and notification of new service requests" %>
		<%= f.input :biz_description, as: :text, :input_html => { :maxlength => 140 }, label: "Short company description (max 140 characters)", placeholder: "Example: XYZ, Inc. has been proudly serving the community since 1995" %>
		<%= f.input :category, collection: [['landscaping', 'Landscaping'], ['pool/spa_cleaning', 'Pool/Spa Cleaning'], ['housecleaning', 'Housecleaning'], ['snow_removal', 'Snow removal'], ['handyman/general_maintenance', 'Handyman/General maintenance']], label_method: :last, value_method: :first %>
		
		<b>Service area zip codes</b><br>
		These are the zip codes in which your business operates. When your customers register their properties on HumbleCasa, your business will only show up for them if their property is in one of your service area zip codes below.
		<br>
		<br>
		<div id="nested-zip-codes">
			<%= f.simple_fields_for :service_zips do |zip| %>
				<%= render 'service_zip_fields', :f => zip %>
			<% end %>
		
			<div class="links">
				<%= link_to_add_association('+ add another zip code', f, :service_zips) %>
			</div>
			<br>
		</div>
		<center>
			<button class="btn btn-primary" type="submit" id="save-btn" data-disable-with="Saving...">
				<i class="icon-ok icon-white"></i> Save
			</button>
			&nbsp		
			<%= link_to "Cancel", root_path, class: "btn" %>
		</center>

<% end %>