<%= simple_form_for @service, :validate => true do |f| %>


<b>Business Details</b><br>
<div class="row-fluid">
	<div class="span3">
		<p>To get started you need to register your business. You can only have one business per user account, so if you want to register a second business you'll need to create a another Service Owner user account.</p>

		<p>While your personal user account info that you provided is private, the business details that you will be providing can be seen all of your current and potential customers! So don't enter your home phone number or personal email address, unless that is how you want your customers to contact you.</p>
	</div>
	<div class="span9">  
	    <%= f.input :name, label: "Name & category" do %>
	    	<%= f.input_field :name, placeholder: "business name" %>
	    	<%= f.input_field :category, collection: [['chimney_services', 'Chimney Services'], ['handyman/general_maintenance', 'Handyman/General Maintenance'], ['housecleaning', 'Housecleaning'], ['landscaping', 'Landscaping'], ['pest_control', 'Pest Control'], ['pool/spa_cleaning', 'Pool/Spa Cleaning'], ['snow_removal', 'Snow Removal']], label_method: :last, value_method: :first %>
	    <% end %>
	    
	    <%= f.input :address1 %>
	    <%= f.input :address2 %>

	    <%= f.input :city, label: 'City/State/Zip' do %>
	    	<%= f.input_field :city, placeholder: "city" %>
	    	<%= f.input_field :state, collection: %w[AK AL AR AZ CA CO CT DC DE FL GA HI IA ID IL IN KS KY LA MA MD ME MI MN MO MS MT NC ND NE NH NJ NM NV NY OH OK OR PA RI SC SD TN TX UT VA VT WA WI WV WY] %>
	    	<%= f.input_field :zip, placeholder: "zip code" %>
	    <% end %>

	   	<%= f.input :phone, label: "Business contact info" do %>
	   		<%= f.input_field :phone, placeholder: "phone number" %>
	   		<%= f.input_field :email, placeholder: "email address" %>
	   	<% end %>
		
		<%= f.input :biz_description, as: :text, input_html: { maxlength: 140 }, label: "Short company description", placeholder: "Shown to property owners when they view your company on the site. Max 140 characters. Example: XYZ, Inc. has been proudly serving the community since 1995. " %>

		<%#= label_tag :business_code,  "Code to provide employees so that their accounts are automatically linked to your business (max 8 characters)" %>
		<%#= f.input :business_code, input_html: {maxlength: 8}, label: false, placeholder: "ABCD1234" %>
	</div>
</div>
<hr>
<b>Business Verification Details</b><br>
<div class="row-fluid">
	<div class="span3">
		<p>HumbleCasa ensures that only experienced, professional services are listed on our site. You don't necessarily need a business licensee number or proof of insurance/bond (although it certainly helps!) - if you've been running your business for a while and have good reviews on Yelp we can work with that. If you have questions or want to provide additional details, please email us at <a href="mailto:support@humblecasa.com">support@humblecasa.com</a></p>
	</div>
	<div class="span9">
		<%= f.input :license, label: "Business licensee ID" %>
	    <%= f.input :insurance_company, label: "Insurance/bond details" do %>
	    	<%= f.input_field :insurance_company, placeholder: "insurance/bond company name" %>
	    	<%= f.input_field :insurance_id, placeholder: "policy ID" %>
	    <% end %>
	    <%= f.input :experience, collection: 0...21, label: "How many years of experience do you have in this industry?" %>
	    <%= f.input :verify_details, as: :text, input_html: { maxlength: 300 }, label: "Other relevant details", placeholder: "Yelp profile link, other sources of reference" %>
	    <% if current_user.role == "admin" %>
	    	<%= f.input :verified %>
	    <% end %>
	</div>
</div>
<hr>
<b>Service Area Zip Codes</b><br>
<div class="row-fluid">
	<div class="span3">
		<p>These are the zip codes in which you are willing to take new customers. When property owners register their homes on HumbleCasa, your business will only show up for them if their property is in one of your service area zip codes below.</p>
	</div>
	<div class="span9">
		<div id="nested-zip-codes">
			<%= f.simple_fields_for :service_zips do |zip| %>
				<%= render 'service_zip_fields', :f => zip %>
			<% end %>
		
			<div class="links">
				<%= link_to_add_association('+ add another zip code', f, :service_zips) %>
			</div>
			<br>
		</div>
	</div>
</div>
<br>
<center>
	<button class="btn btn-primary" type="submit" id="save-btn" data-disable-with="Saving...">
		<i class="icon-ok icon-white"></i> Save
	</button>
	&nbsp		
	<%= link_to "Cancel", root_path, class: "btn" %>
</center>
<% end %>