<%= form_for @service do |f| %>
	<p>
	    <%= f.label :service_business_name %>
	    <%= f.text_field :name %>
	</p>
	<p>
	    <%= f.label :address1 %>
	    <%= f.text_field :address1 %>
	</p>
	<p>
	    <%= f.label :address2 %>
	   	<%= f.text_field :address2 %>
	</p>
	<p>
	    <%= f.label :city %>
	    <%= f.text_field :city %>
	</p>
	<p> 
	    <%= f.label :state %>
	    <%= f.text_field :state %>
	</p>
	<p>
	    <%= f.label :zip %>
	    <%= f.text_field :zip %>
	</p>
	<p> 
	    <%= f.label :phone %>
	    <%= f.text_field :phone %>
	</p>
	<p> 
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :service_category %>
		<%= f.collection_select :category, Service::CATEGORIES, :to_s, :titleize %>
	</p>
	<p>
		Stop1
		<%= f.fields_for :service_zips do |builder| %>
			Stop2
				Hello
				<%= builder.label :zip, "Service area zip codes" %>
				<%= builder.text_field :zip %>
		<% end %>
	</p>

	<p><%= f.submit %></p>
<% end %>