<div class="row-fluid">
	<div class="span6">
    	<div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">
        	<ol class="carousel-indicators">
          		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
          		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
          		<li data-target="#carousel-example-generic" data-slide-to="3"></li>
        	</ol>
        
        	<div class="carousel-inner">
          		<div class="item active">
            		<%= image_tag("poolcleaning wfx.jpg", :size => "631x353") %>
            		<div class="carousel-caption">
            			<p class="pool-caption">
            				Free for homeowners
            			</p>
            			<p>
            				<z class="pool-caption-minor">
	            				<%= link_to "sign-up", new_user_path(role: "propertyowner"), remote: true %> for your account
    						</z>
            			</p>
            		</div>
          		</div>
          		<div class="item">
            		<%= image_tag("landscaping wfx.jpg", :size => "631x353") %>
            		<z class="landscape">
	            		<div class="carousel-caption">    
	            		    <p class="landscape-caption">
	            				Home maintenance service provider?
	            			</p>
	            			<p>
	            				<z class="landscape-caption-minor">
	            					take a <%= link_to "feature tour", feature_tour_path %>, view our <%= link_to "pricing plans", pricing_plans_path %>, and <%= link_to "sign-up", new_user_path(role: "serviceowner"), remote: true %> for an account
	            				</z>
	            			</p>
	            		</div>
	            	</z>
          		</div>
          		<div class="item">
            		<%= image_tag("housecleaning wfx.jpg", :size => "631x353") %>
            		<z class="housecleaner">
	            		<div class="carousel-caption">    
	            		    <p>
		            		    <z class="housecleaner-caption">
		            				Manage multiple properties
		            			</z> 
		            		</p>
	               			<p>
	               				<z class="housecleaner-caption-minor">
		               				ideal for <%= link_to "2nd home owners", new_user_path(role: "propertyowner"), remote: true %>
	   							</z>
	            			</p>
	            		</div>
	            	</z>
          		</div>
          		<div class="item">
            		<%= image_tag("snowplow wfx.jpg", :size => "631x353") %>
            		<z class="snowplow">
	            		<div class="carousel-caption">    
	            		    <p>
		            		    <z class="snowplow-caption">
		            				Remote home service monitoring
		            			</z> 
		            		</p>
	               			<p>
	               				<z class="snowplow-caption-minor">
		               				receive email alerts and verification that services are completed
	   							</z>
	            			</p>
	            		</div>
	            	</z>
          		</div>
        	</div>
        

        	<a class="carousel-control left" href="#carousel-example-generic" data-slide="prev">‹</a>
  			<a class="carousel-control right" href="#carousel-example-generic" data-slide="next">›</a>
    	</div>
	</div>
	<div class="span6" id="logo-and-buttons">
		<center>
			<br>
			<%= image_tag("logo.jpg", alt: "HumbleCasa logo", size: "174x66") %>
			<z id="main-title">
			<h1>Welcome to HumbleCasa!</h1>
			<h2>...customer management and business tools for home service providers</h2>
			<% if current_user.nil? %>
				<div class="row-fluid">
					<div class="span6">
						<h5>New service owner account</h5>
						<p class="launch-user-form">
							<%= link_to new_user_path(role: "serviceowner"), remote: true, class: "btn btn-primary" do %>
								<i class="icon-user icon-white"></i> New Service Owner Account
							<% end %>
						</p>
					
					</div>
					<div class="span6">
						<p>
							<h5>New employee account</h5>
							<p class="launch-user-form">
								<%= link_to new_user_path(role: "employee"), remote: true, class: "btn btn-primary" do %>
									<i class="icon-user icon-white"></i> New Employee Account
								<% end %>
							</p>
						</p>
					</div>
				</div>
			<% else %>	
				You are currently logged in. Logout first to create a new Service Owner or Employee account.
				<br>
				<br>
				<div class="row-fluid">
					<div class="span6">
						<%= link_to "Logout", logout_path, class: "btn btn-primary"%>
					</div>
					<div class="span6">
						<%= link_to "Back to homepage", root_path, class: "btn"%>
					</div>
				</div>
				<br>
			<% end %>
		</center>
	</div>
</div>


<p>
	HumbleCasa is designed for small businesses in the home upkeep and maintainence industry. Our site tools make it easy to <b>improve customer satisfaction</b>, <b>manage your work requests and your workforce</b>, and <b>simplify invoicing and payroll</b>.
</p> 
<p>	We <u>are not</u> a marketplace for bidding on new customers or a place for your customers to move their business to 	somebody else! We help you strengthen your connection with your existing customers and find new customers.
</p>
<p>
<uL>
	<li>
		<b>How it works:</b>
		<ol>
			<li>You <b>create a profile for your business</b> on HumbleCasa. If you want to user our workforce management tools, have your employees create accounts too.</li>
			<li>Your <b>customers create their accounts</b> on HumbleCasa (or some of our existing users become your new customers!) and they use our site tools to <b>schedule service requests</b>.</li>
			<li><b>Email notifications are sent</b> and you can <b>assign each request to one of your employees</b>.</li>
			<li>Your employee goes to the property, completes the service, and marks that it is done. <b>Your customer gets notified via email that their property has been serviced.</b></li>
			<li>At any time you can pull a report for your data from the site, which feeds into <b>customer invoices and payroll</b>.</li>
		</ol>
	</li>
	<br>
	<li>	
		<b>Cost:</b> HumbleCasa is completely free to your customers. We charge you a minimal amount for each of your active customers. So if you're a seasonal business and your customers are only going to be using HumbleCasa for 1/2 of the year, you only pay for the months that they're active.
	</li>
	<br>
	<li>
		<b>Our promise:</b> if you're not completely happy you can cancel at anytime and we'll refund your last 2 months charges. In addition, we offer the first month for free, so try us for 3 months at no risk.
	</li>
</ul>
</p>
	Not convinced? Take a <%= link_to "Feature Tour", static_pages_feature_tour_path%> and view our 
	<%= link_to "Pricing Plans", pricing_plans_path%>.
</p>