<div class="row-fluid">
	<div class="span6">
    	<%= render :partial => 'static_pages/intro_carousel', :locals => { :property_carousel => false } %>
	</div>

	<div class="span6" id="logo-and-buttons">
		<center class="homepage"
			<% if current_user.nil? %>
				<br>
				<%= image_tag("logo.jpg", alt: "HumbleCasa logo", size: "145x46") %>
				<z id="main-title">
				<h1>Welcome to HumbleCasa!</h1>
				<h2>...customer management and business tools for home service providers</h2>
					<div class="row-fluid">
						<div class="span12">
							<h5>Already have an account?</h5>
							<%= simple_form_for @user_session, :validate => true do |f| %>
							  	<%= f.input :email %>
								<%= f.input :password %>
								<button class="btn btn-small btn-primary" id="save-btn" type="submit" data-disable-with="Saving...">
									<i class="icon-ok-sign icon-white"></i> Login
								</button>
							<% end %>
						</div>
					</div>	
			<% else %>	
				<br>
				<br>
				<br>
				<br>
				<%= image_tag("logo.jpg", alt: "HumbleCasa logo", size: "176x55") %>
				<z id="main-title">
				<h1>Welcome to HumbleCasa!</h1>
				<h2>...customer management and business tools for home service providers</h2>
				<br>
				<br>
				<br>
			<% end %>
		</center>
	</div>
</div>

<hr>
<center>
	<div class="row-fluid">
		<div class="span12">
			<p>Create a new Service account and get your business registered on HumbleCasa! It costs nothing to register, your 1st month is free, and you can cancel at anytime.</p>
		</div>
	</div>

	<% if current_user.nil? %>		
		<div class="row-fluid">
			<div class="span12">
				<%= link_to new_user_path(role: "serviceowner"), class: "btn btn-success" do %>
						New Business Account
				<% end %>	
			</div>
		</div>
	<% else %>
		<div class="row-fluid">
			<div class="span7">
				You are currently logged in. Logout first to create a new Service Owner or Employee account.
			</div>
			<div class="span1">
					<%= link_to "Logout", logout_path, class: "btn btn-primary"%>
			</div>
			<div class="span1">
					<%= link_to "Back to homepage", root_path, class: "btn"%>
			</div>
			<div class="span3">
			</div>
		</div>
	<% end %>
</center>

<hr>

<p>
	HumbleCasa is designed for small businesses in the home upkeep and maintainence industry. Our site tools make it easy to <b>improve customer satisfaction</b>, <b>manage your work requests and your workforce</b>, and <b>simplify invoicing and billing</b>.
</p> 
<p>	We <u>are not</u> a marketplace for bidding on new customers or a place for your customers to move their business to 	somebody else. We help you strengthen your connection with your existing customers and find new customers.
</p>
<br>
<p><h5>How it works:</h5>
	<ol>
		<li>You <b>create a profile for your business</b> on HumbleCasa. If you want to use our workforce management tools, have create employee accounts too.</li>
		<li>Your <b>customers create their accounts</b> on HumbleCasa and they use our site tools to <b>schedule service requests</b>.</li>
		<li><b>Email notifications are sent</b> and you can <b>assign each request to one of your employees</b>.</li>
		<li>Your employee goes to the property, completes the service, and marks that it is done. <b>Your customer gets notified via email</b> that their property has been serviced and their <b>credit card is charged</b>.</li>
		<li>Funds are transfered directly into your bank account. HumbleCasa does not take a cut.</li>
	</ol>
</p>
<br>
<p><h5>Cost:</h5></p> 
<p>HumbleCasa is completely free to your clients. We charge you $3 a month for each of your active customers and $1.50 for each service request. For most of our service providers, that works out to less than 5% of their monthly revenue. And we only charge for <b>active</b> customers, so if you're a seasonal business and your customers are only going to be using HumbleCasa for 1/2 of the year, you only pay for the months that they're active. The credit card processor charges 2.9% plus $.55 per transaction.</p>
<br>
<p><h5>Our promise:</h5></p>
<p>If you're not completely happy with HumbleCasa, cancel at anytime and we'll refund your charges for the previous month. And the first month for all customers is free, so try us for 2 months at no risk.</p>
<!--
<p>Not convinced? Take a <%= link_to "Feature Tour", static_pages_feature_tour_path%> and view our 
	<%= link_to "Pricing Plans", pricing_plans_path%>.</p>
	-->