<%= provide(:title, '') %>

<% if current_user.nil? %>
	<h1>Welcome to HumbleCasa!</h1>
	<%= link_to "Create property owner account", new_user_path(role: "propertyowner") %><br>
	<%= link_to "Create service owner account", new_user_path(role: "serviceowner") %><br>
	<%= link_to "Create employee account", new_user_path(role: "employee") %><br>
	<%= link_to "Login to existing homeowner account", login_path %><br> 

<% else %>

	<h2>Welcome, <%= @user.first_name %></h2>
	
	<% if @user.role.to_s == "propertyowner" %>

		<%= render 'home_propertyowner' %>

	<% elsif @user.role.to_s == "serviceowner" %>

		<div class="span8">

			<% if !@service.first.nil? %>

				<%= render 'shared/service_listing' %>
				
			<% else %>
				
				<h4>Let's get started!<br><br>Register your service business first so that you'll appear when your customers sign up: </h4>
				<%= link_to "Register a service", new_user_service_path(@user) %>
			
			<% end %>
		</div>



	<% elsif @user.role.to_s == "employee" %>
		
		<div class="span8">

			<% if !@employer.nil? %>

				<h4>Your employer:</h4><br>	
				<%= render @employer %><br><br>
				
				<h4>Your service requests:</h4><br>
				<ol class="service request listing">
					<% if !@sorted_service_requests.nil? %>
						<% @sorted_service_requests.each do |request| %>
							<li><%= render request %></li><br>						
						<% end %>
					<% end %>
				</ol>
			<% else %>
				You don't yet have an employer.<br>
				<%= link_to "Select your employer", edit_user_path(current_user) %>
			<% end %>
		</div>
	

	<% else %>
		No recognized user role
	<% end %>

<% end %>
