 <h4> Completion details:</h4>
<% if @service_request.location_verified && @service_request.timestamp_verified %>
  <h5>Verified completed by HumbleCasa</h5>
<% end %>
Completion date: <%= DateTime.parse(@service_request.completed_date.to_s).in_time_zone(@service_request.property.time_zone).strftime("%m/%d/%Y") %><br>
Completed by: <%= @service_request.user.full_name %><br>
Service charge: <%= number_to_currency(@service_request.charge) %>. Your credit card on file will be charged for this amount.<br>
<% if !@service_request.charge_notes.blank? %>
  Charge explanation: <%= @service_request.charge_notes %><br>
<% end %>
<% if !@service_request.completion_note.empty? %>
  Notes: <%= @service_request.completion_note %><br>
<% end %>
<% if @service_request.service_photo_1? || @service_request.service_photo_2? || @service_request.service_photo_3? %>
  Service photos:
  <div>
    <%= image_tag @service_request.service_photo_1 if @service_request.service_photo_1? %>
     
    <%= image_tag @service_request.service_photo_2 if @service_request.service_photo_2? %>
     
    <%= image_tag @service_request.service_photo_3 if @service_request.service_photo_3? %>
  </div>
<% end %>