<h4>Service request details:</h4>
Request #: <%= @service_request.service_request_id %><br>
Service request created on: <%= DateTime.parse(@service_request.created_at.to_s).in_time_zone(@service_request.property.time_zone).strftime("%m/%d/%Y") %><br>
<% if !@service_request.instructions.empty? %>
  Special instructions for this request: <%= @service_request.instructions %><br>
<% end %>
<% if @service_request.onetime? %>
  One time request<br>
  <% if @service_request.scheduled? %>
    Scheduled for: <%= DateTime.parse(@service_request.first_scheduled.to_s).in_time_zone(@service_request.property.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") %>
  <% else %>
    Service window: <%= DateTime.parse(@service_request.service_start_date.to_s).in_time_zone(@service_request.property.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") %> - <%= DateTime.parse(@service_request.service_end_date.to_s).in_time_zone(@service_request.property.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") %><br>
    <b>This request has not yet been scheduled. Please log on to HumbleCasa to schedule this request.</b>
  <% end %>
<% else %>
  Repeating request<br>
  Frequency: <%= @service_request.frequency.titleize.downcase %>
  <% case @service_request.frequency %>
    <% when "weekly" %> 
      on <%= @service_request.service_week_day.titleize %>
    <% when "every_other_week" %>
      on <%= @service_request.service_week_day.titleize %>
    <% when "monthly" %> 
      on the <%= @service_request.service_month_day.ordinalize %>
    <% when "every_other_month" %> 
      on the <%= @service_request.service_month_day.ordinalize %>
  <% end %>
<% end %>