<%= simple_form_for @service_request do |f| %>
	<div class="service_request">    
	    <h3>Service request</h3><br>
	    <b>
	    Property: <%= @property.name %><br>
	    Service: <%= @service.name %><br>
		</b><br>

	    <%= f.hidden_field :assigned %>
	    <%= f.hidden_field :completed %>
	    <%= f.hidden_field :property_id, value: @property.id %>
	    <%= f.hidden_field :service_id, value: @service.id %>

	  
	    <%= f.input :onetime, input_html: {value: @service_request.onetime, class: "onetime"},
	    	collection: [[true, 'One-time request'], [false, 'Repeating request']],
	    	label_method: :last, value_method: :first, label: "Request type:", as: :radio_buttons %> 
	
	    

	    <div class="onetime-fields">
	    
			<%= f.input :start_date, as: :fake, input_html: {id: "start-date-picker", value: @service_request.try(:service_start_date).try(:strftime,'%m/%d/%Y')}, label: "Do not perform service before this date:" %>
	    	<%= f.input :service_start_date, as: :hidden, input_html: { class: "service_start_date"} %>

	    	<%= f.input :end_date, as: :fake, input_html: {id: "end-date-picker", value: @service_request.try(:service_end_date).try(:strftime,'%m/%d/%Y')}, label: "Service must be completed by this date:" %>
	    	<%= f.input :service_end_date, as: :hidden, input_html: { class: "service_end_date"} %>

		</div>

		<div class="repeating-fields">
		    	
		    	<%= f.input :frequency, input_html: {value: @service_request.frequency, class: "frequency" },
		    	collection: [['weekly', 'Weekly'], ['every_other_week', 'Every other week'], ['monthly', 'Monthly'], 
		    		['every_other_month', 'Every other month']], label_method: :last, value_method: :first %>
				
		    	<div class="weekly-fields">
		    		<%= f.input :service_week_day, input_html: {value: @service_request.service_week_day, id: "daypicker" }, label: "Which day of the week:", collection: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %>
		    	</div>

		    	<div class="monthly-fields">
		    		<%= f.input :service_month_day, input_html: {value: @service_request.service_month_day, id: "monthpicker" }, label: "Which day of the month:", collection: 1...30 %>
		    	</div>

		    	<div id="first-scheduled-fields">
		    		First service will be scheduled on: <b><span id="date-string"></span></b><br><br>
		    		<%= f.input :first_scheduled, as: :hidden, input_html: { class: "first_scheduled"} %>
		    	</div>
		    
		</div>


	    <%= f.input :instructions, label: "Specific instructions for this service request:", as: :text, :input_html => { :cols => 40, :rows => 5 } %>

	
	    <% if current_user.role == "serviceowner" %>
	    	<% @employees = @service.service_employees %>
	   		<%= f.simple_fields_for :work_assignments, @service_request.work_assignments do |work_assignment| %>
	    		<%= render 'work_assignment_fields', :f => work_assignment %>
	    		<% if !work_assignment.nil? %>
		    		<%= f.hidden_field :assigned, value: true %>
		    	<% end %>
	    	<% end %>
		<% end %>

		<% if current_user.role == "employee" %>
	    	<%= f.input :completed, as: :radio_buttons %>
		<% end %>

  		<button class="btn btn-primary" type="submit" data-disable-with="Saving">
  			<i class="icon-ok icon-white"></i> Save
		</button>
		&nbsp		
		<button class="btn" type="button" id="close">
  			<i class="icon-off"></i> Close
		</button>
	</div>
<% end %>