
	<span8 class="service request">
		<% if !service_request.completed? %>
			Pending request for <%= service_request.property.name %>. Created on: <%= service_request.created_at.strftime("%m/%d/%Y") %>
			
			<% if current_user.role == "serviceowner" && service_request.assigned %>			
				-- assigned to: <%= service_request.users.first.to_label %> 
			<% end %>
			
			<% if current_user.role == "propertyowner" %>
				<p class="launch-service-request">
					<%= link_to "view/edit this request", edit_service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %> 
				</p>  
				<%= link_to "delete this request", service_request, method: :delete, class: "btn btn-mini", confirm: "Are you sure?" %><br> 
			<% end %>

			<% if current_user.role == "employee" %>
				<%= link_to "complete this request", edit_service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %> 
			<% end %>
		
		<% else %>
			Completed request for <%= service_request.property.name %>. Created on: <%= service_request.created_at.strftime("%m/%d/%Y") %>
			<%= link_to "see request report", service_request_path(id: service_request.id), class: "btn btn-mini" %><br>
		<% end %>
	
	</span>

