<tr>
	<td>
		<% if service_request.completed %>
			<% if service_request.location_verified && service_request.timestamp_verified %>
				Completed - HumbleCasa Verified!
			<% else %>
				Completed
			<% end %>
		<% elsif service_request.paused %>
			Paused
		<% elsif service_request.scheduled %>
			<% @assignee = assigned_employee(service_request) %>
			Assigned to: <%= @assignee.last_firstInitial %><br>
			Scheduled for: <%= Time.zone.parse(service_request.first_scheduled.to_s).in_time_zone(service_request.property.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") if !service_request.first_scheduled.nil? %>
		<% elsif service_request.assigned %>
			<% @assignee = assigned_employee(service_request) %>
			Assigned to: <%= @assignee.last_name %>, <%= @assignee.first_name[0] %><br>
			Pending scheduling by <%= service_request.service.name %>  
		<% else %>
			New request - pending assignment and scheduling
		<% end %>	
	</td>

	<% if service_request.onetime? %>
		<td>
			One-time request
			<br>
			<% if service_request.completed %>
				Completed on: <%= Time.zone.parse(service_request.completed_date.to_s).in_time_zone(service_request.property.time_zone).strftime("%a %m/%d/%y") if !service_request.completed_date.nil? %>
			<% elsif service_request.scheduled %>
				Scheduled for: <%= Time.zone.parse(service_request.first_scheduled.to_s).in_time_zone(service_request.property.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") if !service_request.first_scheduled.nil? %>
			<% else %>
				Service window: 
				<%= Time.zone.parse(service_request.service_start_date.to_s).in_time_zone(service_request.property.time_zone).strftime("%a %m/%d/%y %I:%M%p") if !service_request.service_start_date.nil? %>
				 to 
				<%= Time.zone.parse(service_request.service_end_date.to_s).in_time_zone(service_request.property.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") if !service_request.service_end_date.nil? %>
				<br>	
			<% end %>
			<br>
		</td>
	<% else %>
		<td>
			Repeating request - 
			<% if !service_request.frequency.nil? %>
				<%= service_request.frequency.titleize.downcase %>
				<% if service_request.frequency == "weekly" || service_request.frequency == "every_other_week" %>
					on <%= service_request.service_week_day%>s.
				<% else %>
					on the <%= service_request.service_month_day.ordinalize %>.
				<% end %>
			<% end %>
			<br>
			<% if service_request.completed %>
				Completed on: <%= Time.zone.parse(service_request.completed_date.to_s).in_time_zone(service_request.property.time_zone).strftime("%a %m/%d/%y") if !service_request.completed_date.nil? %>
			<% elsif service_request.scheduled %>
				Scheduling confirmed for: <%= Time.zone.parse(service_request.first_scheduled.to_s).in_time_zone(service_request.property.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") if !service_request.first_scheduled.nil? %>
			<% else %>
				<% if service_request.paused %>
					Resumes on: 
				<% else %>
					Next requested service: 
				<% end %>
				<%= Time.zone.parse(service_request.first_scheduled.to_s).in_time_zone(service_request.property.time_zone).strftime("%a %m/%d/%y") if !service_request.first_scheduled.nil? %>
			<% end %>
	<% end %>

	<td><%= service_request.instructions %></td>
	
	<td>
		<% if service_request.completed? %>
			<%= link_to "view report", service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %><br>
		<% else %>
			<% case current_user.role %> 
				<% when "propertyowner" %>
					<p class="launch-service-request">
						<%= link_to "view/edit", edit_service_property_master_service_request_path(service_request.master_service_request.service, service_request.master_service_request.property, service_request.master_service_request), class: "btn btn-mini btn-info" %> 
					</p>  
					<% if !service_request.onetime %>
						<% if service_request.paused %>
							<p>
								<%= link_to "resume", pause_master_service_request_path(service_request.master_service_request), class: "btn btn-mini btn-success" %> 
							</p>
						<% else %>
							<p>
								<%= link_to "pause", pause_master_service_request_path(service_request.master_service_request), class: "btn btn-mini btn-warning" %> 
							</p>
						<% end %>
					<% end %>
					<%= link_to "delete", service_request.master_service_request, method: :delete, class: "btn btn-mini", confirm: "Are you sure?" %>

				<% when "serviceowner" %>
					<% if service_request.scheduled %>
						<p class="launch-complete-service-request">
							<%= link_to "complete request", complete_request_service_request_path(service_request), class: "btn btn-mini" %>
						</p>
						<p class="launch-assign-service-request">
							<%= link_to "reassign or reschedule", assign_to_employee_service_request_path(service_request), class: "btn btn-mini" %>
						</p>
					<% elsif service_request.assigned %>
						<p class="launch-assign-service-request">
							<%= link_to "reassign or schedule", assign_to_employee_service_request_path(service_request), class: "btn btn-mini" %>
						</p>
					<% else %>
						<p class="launch-assign-service-request">
							<%= link_to "assign/schedule request", assign_to_employee_service_request_path(service_request), class: "btn btn-mini" %>
						</p>
					<% end %>
					<%= link_to "delete", service_request, method: :delete, class: "btn btn-mini btn-warn", confirm: "Are you sure?" %>

				<% when "employee" %>
					<% if service_request.scheduled %>
						<p class="launch-complete-service-request">
							<%= link_to "complete request", complete_request_service_request_path(service_request), class: "btn btn-mini" %>
						</p>
					<% else %>
						<p class="launch-schedule-service-request">
							<%= link_to "schedule request", schedule_request_service_request_path(service_request), class: "btn btn-mini" %>
						</p>
					<% end %>
				<% when "admin" %>
					<p class="launch-service-request">
						<%= link_to "view/edit", edit_service_property_master_service_request_path(service_request.master_service_request.service, service_request.master_service_request.property, service_request.master_service_request), class: "btn btn-mini" %> 
					</p>  
					<p>
						<%= link_to "delete", service_request.master_service_request, method: :delete, class: "btn btn-mini btn-warn", confirm: "Are you sure?" %>
					</p>
					<% if service_request.scheduled %>
						<p class="launch-complete-service-request">
							<%= link_to "complete request", complete_request_service_request_path(service_request), class: "btn btn-mini" %>
						</p>
						<p class="launch-assign-service-request">
							<%= link_to "reassign or reschedule", assign_to_employee_service_request_path(service_request), class: "btn btn-mini" %>
						</p>
					<% elsif service_request.assigned %>
						<p class="launch-assign-service-request">
							<%= link_to "reassign or schedule", assign_to_employee_service_request_path(service_request), class: "btn btn-mini" %>
						</p>
					<% else %>
						<p class="launch-assign-service-request">
							<%= link_to "assign/schedule request", assign_to_employee_service_request_path(service_request), class: "btn btn-mini" %>
						</p>
					<% end %>
			<% end %>
		<% end %>
	</td>
</tr>


				

