<tr>
	<td>
		<% if service_request.completed %>
			<% if service_request.location_verified && service_request.timestamp_verified %>
				Completed - HumbleCasa Verified!
			<% else %>
				Completed
			<% end %>
		<% elsif service_request.paused %>
			Paused
		<% elsif service_request.scheduled %>
			<% @assignee = assigned_employee(service_request) %>
			Scheduled and assigned to: <%= @assignee.last_name %>, <%= @assignee.first_name[0] %><br>
		<% elsif service_request.assigned %>
			<% @assignee = assigned_employee(service_request) %>
			Assigned to: <%= @assignee.last_name %>, <%= @assignee.first_name[0] %><br> 
		<% else %>
			New request - pending assignment and scheduling
		<% end %>	
	</td>

	<% if service_request.onetime? %>
		<td>
			One-time request
			<br>
			Service window from
			<%= service_request.service_start_date.strftime("%a %b %d, %Y") if !service_request.service_start_date.nil? %>
			 to 
			<%= service_request.service_end_date.strftime("%a %b %d, %Y") if !service_request.service_end_date.nil? %>
			<br>
			<% if service_request.scheduled? %>
				Scheduled for: <%= service_request.first_scheduled.strftime("%a %b %d, %Y") %>
			<% else %>
				<b>This request is not yet scheduled.</b>
			<% end %>
			<br>
		</td>
	<% else %>
		<td>
			Repeating request - 
			<% if !service_request.frequency.nil? %>
				<%= service_request.frequency.titleize.downcase %>
				<% if service_request.frequency == "weekly" || service_request.frequency == "every_other_week" %>
					on <%= service_request.service_week_day%>s.
				<% else %>
					on the <%= service_request.service_month_day.ordinalize %>.
				<% end %>
			<% end %>
			<br>
			<% if service_request.paused %>
				Resumes on: 
			<% else %>
				Next scheduled service on: 
			<% end %>
			<%= service_request.first_scheduled.strftime("%a %b %d, %Y") if !service_request.first_scheduled.nil? %>
		</td>
	<% end %>

	<td><%= service_request.instructions %></td>
	
	<td>
		<% if service_request.completed? %>
			<%= link_to "view report", service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %><br>
		<% else %>
			<% case current_user.role %> 
				<% when "propertyowner" %>
					<p class="launch-service-request">
						<%= link_to "view/edit", edit_service_property_master_service_request_path(id: service_request.master_service_request_id, service_id: service_request.master_service_request.service_id, property_id: service_request.master_service_request.property_id,), class: "btn btn-mini btn-info", remote: true %> 
					</p>  
					<% if !service_request.onetime %>
						<% if service_request.paused %>
							<p class="launch-pause">
								<%= link_to "resume", pause_master_service_request_path(id: service_request.master_service_request_id), class: "btn btn-mini btn-success", remote: true %> 
							</p>
						<% else %>
							<p class="launch-pause">
								<%= link_to "pause", pause_master_service_request_path(id: service_request.master_service_request_id), class: "btn btn-mini btn-warning", remote: true %> 
							</p>
						<% end %>
					<% end %>
					<%= link_to "delete", service_request.master_service_request, method: :delete, class: "btn btn-mini", confirm: "Are you sure?" %>

				<% when "serviceowner" %>
					<% if service_request.assigned %>
						<p class="launch-complete-service-request">
							<%= link_to "complete request", complete_request_service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %>
						</p>
						<p class="launch-assign-service-request">
							<%= link_to "reassign or reschedule", assign_to_employee_service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %>
						</p>
					<% else %>
						<p class="launch-assign-service-request">
							<%= link_to "assign/schedule request", assign_to_employee_service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %>
						</p>
					<% end %>
					<%= link_to "delete", service_request, method: :delete, class: "btn btn-mini btn-warn", confirm: "Are you sure?" %>

				<% when "employee" %>
					<%= link_to "full request details", service_request_path(service_request), class: "btn btn-mini", remote: true %>
					<% if service_request.scheduled %>
						<p class="launch-complete-service-request">
							<%= link_to "complete request", complete_request_service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %>
						</p>
					<% else %>
						<p class="launch-schedule-service-request">
							<%= link_to "schedule request", schedule_request_service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %>
						</p>
					<% end %>
				<% when "admin" %>
					<p class="launch-service-request">
						<%= link_to "view/edit", edit_service_property_master_service_request_path(id: service_request.master_service_request_id, service_id: service_request.master_service_request.service_id, property_id: service_request.master_service_request.property_id,), class: "btn btn-mini", remote: true %> 
					</p>  
					<p>
						<%= link_to "delete", service_request.master_service_request, method: :delete, class: "btn btn-mini btn-warn", confirm: "Are you sure?" %>
					</p>
					<% if service_request.assigned %>
						<p class="launch-complete-service-request">
							<%= link_to "complete request", complete_request_service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %>
						</p>
						<p class="launch-assign-service-request">
							<%= link_to "change/schedule assignment", assign_to_employee_service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %>
						</p>
					<% else %>
						<p class="launch-assign-service-request">
							<%= link_to "assign/schedule request", assign_to_employee_service_request_path(id: service_request.id), class: "btn btn-mini", remote: true %>
						</p>
					<% end %>
			<% end %>
		<% end %>
	</td>
</tr>
				

