<% if @service_request.completed %>
	<h2>Completed Service Request</h2>
<% else %>
	<h2>Full Request Details</h2>
<% end %>

<div class="row-fluid">
	<div class="span4">
		<h4>Property:</h4> 
		<%= render @service_request.property %>
	</div>
	
	<div class="span4">
		<h4>Owner:</h4>
		<%= render @service_request.property.user %>
	</div>

	<div class="span4">
		<h4>Service:</h4> 
		<%= render @service_request.service %>
	</div>
</div>

<hr>
<h4>Service Request Details:</h4>
<p>
	Request #: <%= @service_request.service_request_id %><br>
	Created on: <%= Time.zone.parse(@service_request.created_at.to_s).in_time_zone(@service_request.property.time_zone).strftime("%a %m/%d/%y") %><br>
	
	<% if @service_request.scheduled? %>
		Scheduled for: <%= Time.zone.parse(@service_request.first_scheduled.to_s).in_time_zone(@service_request.property.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") if !@service_request.first_scheduled.nil? %>
	<% else %>
		<b>This request is not yet scheduled.</b>
	<% end %>
	<br>

	<% if @service_request.completed %>
		<% if @service_request.location_verified && @service_request.timestamp_verified %>
			<h5>Verified completed by HumbleCasa!</h5>
		<% end %>
		Completion date: <%= @service_request.completed_date.strftime("%m/%d/%Y") %><br>
	<% end %>
	
	<% if @service_request.onetime %>
		One-time request: service window <%= @service_request.service_start_date.strftime("%m/%d/%Y") %> - 
			<%= @service_request.service_end_date.strftime("%m/%d/%Y") %>
	<% else %>
		Repeating request: 
		<% if !@service_request.frequency.nil? %>
			<%= @service_request.frequency.titleize %>
			<% if @service_request.frequency == "weekly" || @service_request.frequency == "every_other_week" %>
				on <%= @service_request.service_week_day%>s
			<% else %>
				on the <%= @service_request.service_month_day.ordinalize %>
			<% end %>
		<% end %>
	<% end %>
	<br>
	<br>
	Special instructions for this request: 
	<% if @service_request.instructions.blank? %>
			 none
	<% else %>
		<%= @service_request.instructions %>
	<% end %>
	<br>
	<br>
	<% if @service_request.completed %>
		Completed by: <%= @service_request.user.to_label %><br>
		Service charge: <%= number_to_currency(@service_request.charge) %><br>
		<% if !@service_request.charge_notes.blank? %>
			Charge explanation: <%= @service_request.charge_notes %><br>
		<% end %>
		<br>
		Additional notes from servicer: 
		<% if @service_request.completion_note.blank? %> 
			none 
		<% else %>
			<%= @service_request.completion_note %>
		<% end %>
		<br>
		<hr>
		<h4>Service images:</h4>
		<div>
			<%= image_tag @service_request.service_photo_1_url if @service_request.service_photo_1? %>
			&nbsp
			<%= image_tag @service_request.service_photo_2_url if @service_request.service_photo_2? %>
			&nbsp
			<%= image_tag @service_request.service_photo_3_url if @service_request.service_photo_3? %>
		</div>
	<% end %>
</p>
<br>
	<center>
		<%= link_to "Back", root_path, class: "btn" %>
	</center>