<% if @service_request.completed %>
	<h2>Completed Service Request</h2>
<% else %>
	<h2>Full Request Details</h2>
<% end %>
<h4>Request #: </h4><%= @service_request.service_request_id %>

<hr>
<div class="row-fluid">
	<div class="span6">
		<h4>Property Details:</h4> 
		<%= render @service_request.property %>
	</div>
	
	<div class="span6">
		<h4>Owner Details:</h4>
		<%= render @service_request.property.user %>
	</div>
</div>

<hr>
<h4>Service:</h4> 
<%= render @service_request.service %>

<hr>
<h4>Service Request Details:</h4>
<p>
	Service request created on: <%= @service_request.created_at.strftime("%m/%d/%Y") %>
	<br>
	<% if @service_request.onetime %>
		One-time request
		<br>
		Service window: <%= @service_request.service_start_date.strftime("%m/%d/%Y") %> - 
			<%= @service_request.service_end_date.strftime("%m/%d/%Y") %>
		<br>
		<% if @service_request.scheduled? %>
			Scheduled for: <%= @service_request.first_scheduled.strftime("%a %b %d, %Y") %>
		<% else %>
			<b>This request is not yet scheduled.</b>
		<% end %>
		<br>
	<% else %>
		Repeating request: 
		<% if !@service_request.frequency.nil? %>
			<%= @service_request.frequency.titleize %>
			<% if @service_request.frequency == "weekly" || @service_request.frequency == "every_other_week" %>
				on <%= @service_request.service_week_day%>s
			<% else %>
				on the <%= @service_request.service_month_day.ordinalize %>
			<% end %>
			<br>
		<% end %>
		<% if !@service_request.completed %>
			Next scheduled: <%= Time.zone.parse(@service_request.first_scheduled.to_s).in_time_zone(@service_request.property.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") if !@service_request.first_scheduled.nil? %>
		<% end %>
	<% end %>
	<br>
	Special instructions for this request: 
	<% if @service_request.instructions.blank? %>
			 none
	<% else %>
		<%= @service_request.instructions %>
	<% end %>
	<br>
	<br>
	<% if @service_request.completed %>
		<% if @service_request.location_verified && @service_request.timestamp_verified %>
			<h5>Verified completed by HumbleCasa!</h5>
		<% end %>
		Completion date: <%= @service_request.completed_date.strftime("%m/%d/%Y") %>
		<br>
		Completed by: <%= @service_request.user.to_label %>
		<br>
		Additional notes from servicer: 
		<% if @service_request.completion_note.blank? %> 
			none 
		<% else %>
			<%= @service_request.completion_note %>
		<% end %>
	<% end %>
	
	<% if @service_request.completed %>
		<br>
		<hr>
		<h4>Service images:</h4>
		<div>
			<%= image_tag @service_request.service_photo_1_url if @service_request.service_photo_1? %>
			&nbsp
			<%= image_tag @service_request.service_photo_2_url if @service_request.service_photo_2? %>
			&nbsp
			<%= image_tag @service_request.service_photo_3_url if @service_request.service_photo_3? %>
		</div>
	<% end %>
</p>
<br>
<center>
	<button class="btn btn-small" type="button" id="close">
			<i class="icon-off"></i> Close
	</button>
</center>