<h2>Completed Service Request</h2>
<h4>Request #: </h4>
<p>
	<%= @service_request.service_request_id %>
</p>
<h4>Property:</h4> 
<p>
	<%= render @service_request.property %>
</p>
<h4>Service:</h4> 
<p>
	<%= render @service_request.service %>
</p>

<hr>

<h4>Service request details:</h4>
<p>
	Service request created on: <%= @service_request.created_at.strftime("%m/%d/%Y") %>
	<br>
	<% if @service_request.onetime %>
		One-time request
		<br>
		Service window: <%= @service_request.service_start_date.strftime("%m/%d/%Y") %> - 
			<%= @service_request.service_end_date.strftime("%m/%d/%Y") %>
	<% else %>
		Repeating request: 
		<% if !@service_request.frequency.nil? %>
			<%= @service_request.frequency.titleize %>
			<% if @service_request.frequency == "weekly" || @service_request.frequency == "every_other_week" %>
				on <%= @service_request.service_week_day%>s
			<% else %>
				on the <%= @service_request.service_month_day.ordinalize %>
			<% end %>
		<% end %>
	<% end %>
		<br>
		Special instructions for this request: <%= @service_request.instructions %><br>
	<br>
	<% if @service_request.completed %>
		<% if @service_request.location_verified && @service_request.timestamp_verified %>
			<h5>Verified completed by HumbleCasa!</h5>
		<% end %>
		Completion date: <%= @service_request.completed_date.strftime("%m/%d/%Y") %>
		<br>
		Completed by: <%= @service_request.user.to_label %>
		<br>
		Additional notes from servicer: 
		<% if @service_request.completion_note.blank? %> 
			none 
		<% else %>
			<%= @service_request.completion_note %>
		<% end %>
	<% end %>
	<br>
	
	<hr>

	<h4>Service images:</h4>
	<div>
		<%= image_tag @service_request.service_photo_1_url if @service_request.service_photo_1? %>
		&nbsp
		<%= image_tag @service_request.service_photo_2_url if @service_request.service_photo_2? %>
		&nbsp
		<%= image_tag @service_request.service_photo_3_url if @service_request.service_photo_3? %>
	</div>
</p>
<br>
<center>
	<button class="btn btn-small" type="button" id="close">
			<i class="icon-off"></i> Close
	</button>
</center>