<%= simple_form_for @user, :validate => true do |f| %>
    
    <%= f.input :first_name %> 

    <%= f.input :last_name %>

    <%= f.input :primary_phone, input_html: { :"data-mask" => "999-999-9999", maxlength: 14 } %>

    <%= f.input :email, placeholder: "This will also your be your sign in name" %>

    <%= f.input :password, placeholder: "Must be at least 6 characters" %>

    <%= f.input :password_confirmation %>
 
    <% if @user.role.nil? %>
        <%= f.hidden_field :role, value: params[:role] %>    
        <% @role = params[:role] %>
    <% else %>
        <%= f.hidden_field :role, value: @user.role %>
        <% @role = @user.role %>
    <% end %>

    <% case @role %>
        <% when "employee" %>
            <%= f.input :notify, inline_label: "Receive email notifications when service requests are assigned to you (recommended - you can always change this later)", label: false %>
            <% if !(@services = Service.all).empty? %>
                <% @sorted_services = @services.sort_by {|a| a.name } %>
            <% end %>
            <%= f.simple_fields_for :employments do |employment| %>
                <%= employment.association :service, collection: @sorted_services, :as => :select, label: "Select employer (in alphabetic order)", include_blank: true %>
            <% end %>
        <% when "propertyowner" %>
            <%= f.input :notify, inline_label: "Receive email notifications when service requests are completed (recommended - you can always change this later)", label: false %>
        
        <% when "serviceowner" %>
            <%= f.input :notify, inline_label: "Receive email notifications when new service requests are created by your clients (recommended - you can always change this later)", label: false %>

    <% end %>
    <p>
    <%= render partial: 'shared/modal_buttons', locals: {save_button_label: save_user_label} %>
    </p>
    <% if controller.action_name == "edit" %>     
        &nbsp    
        <%= link_to @user, class: "btn btn-warning", method: :delete, confirm: "Are you sure you want to delete your entire account?" do %>
            <i class="icon-trash"></i> Delete user account
        <% end %>
    <% end %>
             
<% end %>
