<%= simple_form_for @property, :validate => true do |f| %>
    <div class="row-fluid">
		<div class="span3">
			<% if !@property.user.nil? %>
				<h5>Owner:</h5>
				<%= render @property.user %>
				<hr>
			<% end %>
			<h5>Tips</h5>
			<ul>
				<li>You can have more than one property per user account. Once you've created this property, you'll see a link on your homepage to add more properties.</li>
				<br>
				<li>If you  keep info like your home alarm code up-to-date in the "Instructions for the property", all service providers for this property will see it. <b>Only your selected service providers can see these details</b> but we understand if you don't want to enter it now - you can always contact your providers over the phone or in person to give them this info.</li>
				<br>
			</ul>
		</div>
		<div class="span9">
    		<%= f.input :name, label: 'Property name', placeholder: 'A nickname for this property'%>
			<%= f.input :address1 %>
			<%= f.input :address2 %>
			<%= f.input :city, label: 'City/State/Zip' do %>
	    		<%= f.input_field :city, placeholder: 'city' %>
	    		<%= f.input_field :state, collection: %w[AK AL AR AZ CA CO CT DC DE FL GA HI IA ID IL IN KS KY LA MA MD ME MI MN MO MS MT NC ND NE NH NJ NM NV NY OH OK OR PA RI SC SD TN TX UT VA VT WA WI WV WY] %>
	    		<%= f.input_field :zip, placeholder: 'zip code' %>
    		<% end %>

			<%= f.input :house_closing, label: '* Opening/Closing instructions', placeholder: 'Exact instructions for gaining entry and closing up the house. Do you have an alarm that must be deactivated/armed? Do you have pets that should not be let out or must be confined to part of the house? What temp should the thermostat be left at? In cold weather climes, do you require the water to be shut off and how is that done?' %>
			<center>- or -</center>
			<%= f.input :house_closing_none, as: :boolean, inline_label: "I have no Opening/Closing instructions or I will provide them to the service provider in person", label: false %>

			<%= f.input :instructions, label: 'Other details for the property', placeholder: 'These instructions are only seen by the service providers you select.  Examples: preferred entry door, etc.', as: :text %>
			
			<%#= f.input :user_id, as: :hidden, input_html: {value: @user.id, id: "user_id"} %>
    		<%= f.input :referral_service, collection: Service.all, label_method: :name, value_method: :id, label: "Were you referred by one of our service partners?" %>
    		
    		<%= f.input :terms_agreement, as: :boolean, inline_label: ("I agree to the HumbleCasa #{link_to 'terms and conditions', terms_of_use_path}.").html_safe, label: false %>
			<br>
    	</div>
	    <center>
			<button class="btn btn-primary btn-small" type="submit" id="save-btn" data-disable-with="Saving...">
				<i class="icon-ok icon-white"></i> Save
			</button>
			&nbsp		
			<%= link_to "Cancel", root_path, class: "btn btn-small" %>
		</center>
	</div>
<% end %>