<%= simple_form_for @property, :url => {:action => "update_with_card"} do |f| %>
	<div class="row-fluid">
		<div class="span3">
			<b>Billing Information</b><br><br>
			<p>Your account will need a credit card for your services providers to bill you. Services are charged as they are completed. You will receive an emailed confirmation of completed work and charges.</p>
		</div>
		<div class="span9">		
			
			<% if !@property.last_four.nil? && !@property.last_four.empty? %>
				<h5>Current Card on File for Property</h5>
				<p>Card on file for <%= @property.name %>: <%= @property.card_type %> xxxx-xxxx-xxxx-<%= @property.last_four %></p>
				<hr>
			<% end %>		
						
			<h5>Register a New Card for Property</h5>
			<div>
			    <%= label_tag :card_number, "Credit Card Number" %>
			    <%= text_field_tag :card_number, nil, name: nil, class: "new-card-field" %>
			</div>
			<div>
			    <%= label_tag :card_code, "Security Code on Card (CVV)" %>
				<%= text_field_tag :card_code, nil, name: nil, class: "new-card-field" %>
			</div>
			<div>
			    <%= label_tag :card_month, "Card Expiration" %>
			    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class: "new-card-field"} %>
			    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: "new-card-field"} %>
			</div>
			<%= f.hidden_field :stripe_card_token %>
			<%= f.hidden_field :last_four %>
			<%= f.hidden_field :card_type %>
		</div>
	</div>
		
	<div id="stripe_error">
	  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
	</div>
	<br>
	<center>
		<button class="btn btn-primary" type="submit" id="save-btn" data-disable-with="Saving...">
			<i class="icon-ok icon-white"></i> Save
		</button>
		&nbsp		
		<%= link_to "Cancel", root_path, class: "btn" %>
	</center>
<% end %>