<%= simple_form_for(@property) do |f| %>
	<%= render @property %>
	<br>  
	<table class="table table-condensed table-striped">			
		<thead>
			<tr>
				<th>Category</th>
				<th>Select a Provider</th>
			</tr>
		</thead>
		<tbody>
			<% @i = 0 %>
			<% Service::CATEGORIES.each do |category| %>	
		    	<tr>
		    		<td>
		    			<%= category.titleize %>
		    		</td> 	
		    		<td>
		    			<% if !(@category_services_in_area = area_category_services(@property.zip, category)).empty? %>
		    				<%= f.simple_fields_for :assignments, @property.assignments[@i] do |assignment| %>		
		    			 		<%= render 'assignment_fields', f: assignment, thisCategory: category %>
		    				<% end %>	
		    			<% else %>
							None available yet for your area.<br>
								<%= f.simple_fields_for :assignments, @property.assignments[@i] do |assignment| %>		
			    			 		<%= render 'interest_fields', f: assignment, thisCategory: category %>
			    				<% end %>
						<% end %>
					</td>
					<% @i += 1 %>
				</tr>	   		
		   	<% end %>
		</tbody>
	</table>

	<%= render 'shared/modal_buttons' %>


<% end %>