<%= provide(:title, 'Register Services') %>
<h2 class="register-services">Register Services</h2>

<%= simple_form_for @property, :url => {:action => "update_with_assignments"} do |f| %>
<div class="row-fluid">
<div class="span3">
	<h5>Owner:</h5>
	<%= render @property.user %>
	<hr>
	<h5>Property:</h5>
	<%= render @property %>
	<hr>
	<h5>No Services?</h5>
	We're a young but growing site, so you might not see any service providers available yet in your area. If you wish we had a service available for you to select, please check the "I'm interested" box! This will help us to convince service providers that there are potential customers waiting for them to join the site.  Thanks!
</div>
<div class="span9">	
	<% @i = 0 %>
	<% Category::CATEGORIES.sort_by{|c| c.downcase}.each do |category| %>	
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					<%= category.titleize %>
				</h3>
				<%= Category::CATEGORY_DESCRIPTIONS.rassoc(category)[0] %>
			</div>
			<div class="panel-body">
				<% @assignment = @property.assignments.find_by_category(category) %>
				<% @category_services_in_area = @property.area_category_services(category) %>
				<% if !(@category_services_in_area = @property.area_category_services(category)).empty? %>
    				<%= f.simple_fields_for :assignments, @assignment do |assignment| %>
    			 		<%= assignment.hidden_field :category, value: category %>				
	    				<div class="list-group">
							<% @category_services_in_area.each do |s| %>
								<%= render "service_listing", :s => s, :assignment => assignment, :category => category %>
					  		<% end %>
							<%= assignment.hidden_field :service_id %>
							<%= hidden_field_tag "current_service" + @i.to_s, @assignment.service_id %>			
						</div>
			    	<% end %>			
			    <% else %>
					<br>
					<div>
						None available yet for your area.
						<%= f.simple_fields_for :assignments, @assignment do |assignment| %>
				    		<%= assignment.input :interested, as: :boolean, inline_label: "I'm interested in this category when available.", label: false %>
							<%= assignment.hidden_field :category, value: category %>
				    	<% end %>
				    </div>
				<% end %>
				<% @i += 1 %>	   		
			</div>
		</div>	
	<% end %>
	<center>
		<button class="btn btn-primary" type="submit" data-disable-with="Saving...">
			<i class="icon-ok icon-white"></i> Save
		</button>
		&nbsp		
		<%= link_to "Cancel", root_path, class: "btn" %>
	</center>
</div>
</div>
<% end %>