<li>
	<span class="name"><b><%= property_listing.name %></b></span><br>
	<span class="address1"><%= property_listing.address1 %></span><br>
	<% if !property_listing.address2.empty? %>
		<span class="address2"><%= property_listing.address2 %></span><br>
	<% end %>
	<span class="city"><%= property_listing.city %></span>, 
	<span class="state"><%= property_listing.state %></span> 
	<span class="zip"><%= property_listing.zip %></span><br>
	<span class="phone"><%= property_listing.phone %></span><br>
	<% if !property_listing.instructions.empty? %>
		<span class="instructions"><%= property_listing.instructions %></span><br>
	<% end %>
	<br>
	<b>Service providers for this property:</b><br>
	<% Service::CATEGORIES.each do |category| %>		
    	<% @service = property_listing.services.find_by_category(category) %>
		<%= category.titleize %>: 
		<% if @service.nil? %>
			none selected<br>
		<% else %> 
			<%= @service.name %> -- 
			<% @open_service_requests = ServiceRequest.where(service_id: @service.id, property_id: property_listing.id) %>

			<% if !@open_service_requests.empty? %>
				<% @sorted_open_service_requests = @open_service_requests.sort_by {|a| a.completed }%>
				<% @sorted_open_service_requests.each do |request| %>
					<% if !request.completed? %>
						Pending service request - scheduled to complete by <%=request.service_end_date %>. 
						<%= link_to "edit this request", edit_service_request_path(id: request.id, service_id: @service.id, property_id: property_listing.id) %>
						 -- 
						<%= link_to "delete this request", request, method: :delete, confirm: "Are you sure?" %><br> 
					<% else %>
						Completed service request - completed on <%=request.service_end_date %>. 
						<%= link_to "see request report", show_service_request_path(id: request.id, service_id: @service.id, property_id: property_listing.id) %><br>
					<% end %>
				<% end %>
			<% end %>
			<%= link_to "create a new service request", new_service_request_path(service_id: @service.id, property_id: property_listing.id) %><br>
		<% end %>
  	<% end %>



	<ul class="nav pull-left">
		<%= link_to "edit", edit_property_path(:id => property_listing.id) %> |
		<%= link_to "delete", property_listing, method: :delete, confirm: "Are you sure?", title: property_listing.name %>
	</ul>
</li> 
