	<!-- Business Details -->
		<h3>Your business:</h3><br>
		<%= render @service %><br>
		<br>
		<b>Service zip codes:</b><br>	
		<% if !@zips_list.nil? %>
			<ol class="service-zips">
				<%= render @zips_list %>
			</ol>
		<% else %>
			No service area zip codes defined
		<% end %>

		<ul class="nav pull-left">
			<%= link_to "edit business details", edit_user_service_path(:id => @service.first.id) %> |
			<%= link_to "delete this business", @service.first, method: :delete, confirm: "Are you sure?", title: @service.first.name %>
		</ul>


		<!-- Service Requests -->
		<br>
		<br>
		<h3>Your service requests:</h3><br>
		<ol class="service request listing">

			<% @sorted_service_requests.each do |request| %>
				<%= render request %> 
				<%= link_to "edit or assign request", edit_service_request_path(:id => request.id) %>
					
			<% end %>
		</ol>


		<!-- Employees -->
		<br>
		<br>
		<h3>Your employees:</h3><br>
		<ol class="employee listing">
			<%= render @employees %>
		</ol>