<h4>Current service providers for this property:</h4><br>
<table class="table table-condensed table-striped">			
	<thead>
		<tr>
			<th>Category</th>
			<th>Selected Provider</th>
			<th>Service Requests</th>
		</tr>
	</thead>
	<tbody>

		<% Service::CATEGORIES.each do |category| %>		
			<tr>
				<td>
					<%= category.titleize %>
				</td>
				<td>	
					<% if (@selected_service = property_listing.services.find_by_category(category)).nil? %>
						<% if check_availability(area_services(property_listing.zip), category) %>			
							<z class="launch-assign-services">
							<%= link_to assign_services_property_path(property_listing), remote: true, class: "btn btn-mini btn-primary" do %>
								<i class="icon-check icon-white"></i> Services available! Sign-up
							<% end %>
							</z>
						<% else %>
							No service providers for your area.
						<% end %>
						</td><td></td>							
						<% @valid_service_row = false %>
					<% else %> 
						<% @valid_service_row = true %>
						<h5><%= @selected_service.name %></h5>
						<p class="launch-service-request">
							<%= link_to "create a new service request", new_service_property_master_service_request_path(service_id: @selected_service.id, property_id: property_listing.id), class: "btn btn-mini btn-success", remote: true %>
						</p>
						<p>
							<br>
							<h5>Next service scheduled:</h5>
								<% if !(@open_SRs = open_requests(@selected_service, property_listing)).nil? %>	
									<% @open_SRs = @open_SRs.sort_by {|a| a.first_scheduled} %>			
									<%= @open_SRs.first.first_scheduled.strftime("%a %b %d, %Y") %>		
								<% else %>
									N/A
								<% end %>
						</p>
					<% end %>
				</td>
					
				<% if @valid_service_row %>
					<td>				
						<% if !@open_SRs.nil? %>										
							<% @open_SRs.sort_by {|a| a.first_scheduled} %>
							<%= render 'shared/service_request_table_head' %>
							<% @open_SRs.each do |request| %>
								<%= render request %>
							<% end %>
							<%= render 'shared/service_request_table_foot' %>						
						<% end %>
							<% if !(@completed_SRs = completed_requests(@selected_service, property_listing)).nil? %>	
					
								<%= link_to "View all completed service requests", view_completed_service_property_service_request_path(service_id: @selected_service.id, property_id: property_listing.id, id: 1) %>
							<% end %>
						</div>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

