<h4>Current service providers for this property:</h4><br>
<table class="table table-condensed table-striped">			
	<thead>
		<tr>
			<th>Category</th>
			<th>Selected Provider</th>
			<th>Service Requests</th>
		</tr>
	</thead>
	<tbody>

		<% Service::CATEGORIES.each do |category| %>		
			<tr>
				<td>
					<%= category.titleize %>
				</td>
				<td>	
					<% if (@selected_service = property_listing.services.find_by_category(category)).nil? %>
						<% if check_availability(area_services(property_listing.zip), category) %>			
							<%= link_to assign_services_property_path(property_listing), class: "btn btn-mini btn-primary" do %>
								<i class="icon-check icon-white"></i> Services available! Sign-up
							<% end %>
						<% else %>
							No service providers for your area.
						<% end %>
						</td><td></td>							
						<% @valid_service_row = false %>
					<% else %> 
						<% @valid_service_row = true %>
						<h5><%= @selected_service.name %></h5>
						<p>
							<%= link_to "create a new service request", new_service_property_master_service_request_path(service_id: @selected_service.id, property_id: property_listing.id), class: "btn btn-mini btn-success"  %>
						</p>
						<p>
							<br>
							<h5>Next scheduled service:</h5>
								<% if !(@open_SRs = open_requests(@selected_service, property_listing)).nil? %>	
									<% @open_SRs = @open_SRs.sort_by {|a| a.first_scheduled} %>
									<% if !(@scheduled_SRs = @open_SRs.find_all { |x| x.scheduled == true }).empty? %> 	
										<%= Time.zone.parse(@scheduled_SRs.first.first_scheduled.to_s).in_time_zone(@scheduled_SRs.first.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") %>
									<% else %>
										N/A
									<% end %>
								<% end %>
						</p>
					<% end %>
				</td>
					
				<% if @valid_service_row %>
					<td>				
						<% if !@open_SRs.nil? %>										
							<%= render 'shared/service_request_table_head' %>
							<% @open_SRs.each do |request| %>
								<%= render request %>
							<% end %>
							<%= render 'shared/service_request_table_foot' %>						
						<% end %>
							<% if !(@completed_SRs = completed_requests(@selected_service, property_listing)).nil? %>	
					
								<%= link_to "View all completed service requests", view_completed_service_property_service_request_path(service_id: @selected_service.id, property_id: property_listing.id, id: 1) %>
							<% end %>
						</div>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>



