<h4>Current service providers for this property:</h4><br>
<table class="table table-condensed table-striped">			
	<thead>
		<tr>
			<th>Category</th>
			<th>Selected Provider</th>
			<th>Service Requests</th>
		</tr>
	</thead>
	<tbody>

		<% Category::CATEGORIES.each do |category| %>		
			<tr>
				<td>
					<%= category.titleize %>
					<% @selected_service = property_listing.assigned_category_service(category) %>
					<% @assignment = Assignment.find_by_service_id_and_category(@selected_service, category) %>
					<% if !@selected_service.nil? %>
						<br><%= link_to "change provider", assign_services_property_path(property_listing) %>
					<% end %>
				</td>
				<td>	
					<% if @selected_service.nil? %>
						<% if property_listing.area_category_services(category).size > 0 %>			
							<% if property_listing.active %>
								<%= link_to "Services available - sign-up",assign_services_property_path(property_listing), class: "btn btn-mini btn-primary" %>
							<% else %>
								<strong>Services available in your area but you need to provide <%= link_to "billing details", edit_payment_info_property_path(property_listing) %> first.</strong>
							<% end %>
						<% else %>
							No service providers for your area.
						<% end %>
						</td><td></td>							
						<% @valid_service_row = false %>
					<% else %> 
						<% @valid_service_row = true %>
						<b><%= @selected_service.name %></b><br>
						<% if !@selected_service.area_service && @selected_service.service_active %>
							<% if property_listing.has_serviced(@selected_service) %>
								<x class="ratingmsg">	
									<% if @selected_service.evaluators_for(:ratings).find_all { |x| x.id == current_user.id }.empty? %>
										<div class="star" id="<%=@selected_service.id%>"></div>
										<z class=<%= "votemsg"+ @selected_service.id.to_s %>>How is this provider doing?</z>
									<% else %>
										<div class="star" data-score="<%= @selected_service.reputation_for(:ratings) %>" id="<%=@selected_service.id%>"></div> 
										<z class=<%= "votemsg"+ @selected_service.id.to_s %>>Avg rating. Click to change your rating.</z>			
									<% end %>
								</x>
								<br>
								<br>
							<% end %>
						
							<% if @assignment.confirmed && @assignment.cost != 0 %>
								<% @need_estimate = false %>
								<p>
									<%= link_to "create a new service request", new_service_property_master_service_request_path(service_id: @selected_service.id, property_id: property_listing.id, assignment_id: Assignment.find_by_service_id_and_category(@selected_service.id, category)), class: "btn btn-mini btn-success"  %>
								</p>
								<p>
									<br>
									<% if (@open_SRs = property_listing.open_requests(@selected_service, @assignment)).size > 0 %>	
										<h5>Next scheduled service:</h5>
										<% if !(@scheduled_SRs = @open_SRs.find_all { |x| x.scheduled == true }).empty? %> 	
											<%= Time.zone.parse(@scheduled_SRs.first.first_scheduled.to_s).in_time_zone(@scheduled_SRs.first.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") %>
										<% else %>
											N/A
										<% end %>
									<% end %>
								</p>
							<% else %>
								<% @need_estimate = true %>
							<% end %>
						<% end %>
					<% end %>
				</td>
					
				<% if @valid_service_row %>
					<td>
						<% if @selected_service.area_service %>
							Pending activation of service
						<% elsif @need_estimate %>
							Pending estimate by service provider.
						<% elsif @selected_service.service_active %>									
							<% if !@open_SRs.nil? %>										
								<%= render 'shared/service_request_table_head' %>
								<% @open_SRs.each do |request| %>
									<%= render request %>
								<% end %>
								<%= render 'shared/service_request_table_foot' %>						
							<% end %>
							<% if (@completed_SRs = property_listing.completed_requests(@selected_service, @assignment)).size > 0 %>	
					
								<%= link_to "View all completed service requests", view_completed_service_property_service_request_path(service_id: @selected_service.id, property_id: property_listing.id, id: 1) %>
							<% end %>
						<% else %>
							This service provider is not currently active. Once they are active, you can create new service requests and manage existing service requests.
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>



