<strong><%= service.name %></strong> - <%= category.humanize.downcase %><br>
<% if !service.service_active %>
	 - this service is not currently active.
<% elsif service.area_service %>
	Pending activation of service
<% else %>
	<% if !assignment.confirmed %>
		<% if assignment.cost == 0 %>
			Waiting for estimate from service provider
		<% else %>
			Estimate provided - <%= link_to "review and approve", confirm_assignment_assignment_path(assignment) %>
		<% end %>
	<% elsif assignment.cost == 0 %>
			Waiting for service provider to define standard service charge
	<% else %>	
		<ul>
			<li>
				<% if (@completed = listing.completed_requests(service, assignment)).size > 0 %>
					<% if (@newcompleted = listing.new_completed(service, current_user, assignment)).size > 0 %>
						<%= pluralize(@newcompleted.size, 'service request') %> completed since your last login
						<ul>
							<% @newcompleted.each do |nc| %>
								<li>Completed on <%= nc.completed_date.strftime("%a %b %d, %Y") %>.
										<%= link_to "view report", service_request_path(nc), class: "btn btn-mini" %></li>
							<% end %>
						</ul>	
					<% else %>
						Last service completed:
						<%= @completed.last.completed_date.strftime("%m/%d/%y") %> 
						<%= link_to "view report", service_request_path(@completed.last), class: "btn btn-mini" %>
					<% end %>	
				<% else %>
					No service requests completed yet.
				<% end %>
			</li>
			<li>
				<% if (@open_SRs = listing.open_requests(service, assignment)).size > 0 %>	
					Next service
					<% if @open_SRs.first.scheduled %>
						 scheduled for <%= Time.zone.parse(@open_SRs.first.first_scheduled.to_s).in_time_zone(listing.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") %>
					<% else %>
						<% if @open_SRs.first.onetime? %>
							 one-time request to be completed between <%= Time.zone.parse(@open_SRs.first.service_start_date.to_s).in_time_zone(listing.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z")%> and <%= Time.zone.parse(@open_SRs.first.service_end_date.to_s).in_time_zone(listing.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z")%>.
						<% else %>
							 repeating request <%= @open_SRs.first.frequency.titleize.downcase %>
							<% if @open_SRs.first.frequency == "weekly" || @open_SRs.first.frequency == "every_other_week" %>
								on <%= @open_SRs.first.service_week_day%>s.
							<% else %>
								on the <%= @open_SRs.first.service_month_day.ordinalize %>.
							<% end %>
						<% end %>
						<% if @open_SRs.first.scheduled %>			
							Pending scheduling by <%= service.name %>
						<% end %>
					<% end %>									
				<% else %>
						No future service requested or scheduled.
				<% end %>
			</li>
		</ul>
	<% end %>
<% end %>
