<div class="row-fluid">
	<div class="span6">
    	<%= render :partial => 'static_pages/intro_carousel', :locals => { :property_carousel => true } %>
	</div>
	<div class="span6" id="logo-and-buttons">
		<center class="homepage">
			<br>
			<%= image_tag("logo.jpg", alt: "HumbleCasa logo", size: "135x43") %>
			<z id="main-title">
				<h1>Welcome to HumbleCasa!</h1>
				<h2>...simplify your home maintenance</h2>
			</z>
						
			<h5>Already have an acount?</h5>
			<%= simple_form_for @user_session, :validate => true do |f| %>
			  	<%= f.input :email %>
				<%= f.input :password %>
				<button class="btn btn-small btn-primary" id="save-btn" type="submit" data-disable-with="Saving...">
					<i class="icon-ok-sign icon-white"></i> Login
				</button>
			<% end %>
		</center>
	</div>
</div>

<hr>

<center>
	<div class="row-fluid">
		<div class="span6">
			<p>New to the site? It's completely free for homeowners! Manage all your home services in one place - schedule, review, and pay online. Sign-up for a new property owner account:&nbsp
			</p>
		</div>
		<div class="span6">	
			<p>Or do you own a company that provides home maintainence services? We can help you to connect with your customers, manage your workforce, and streamline invoicing and payments. Visit our <%= link_to "Service Provider page", business_path %> to get more details or create your business acount:
			</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<%= link_to "Create Property Account", new_user_path(role: "propertyowner"), class: "btn btn-success" %>
		</div>
		<div class="span6">
			<%= link_to "Create Service Account", new_user_path(role: "serviceowner"), class: "btn btn-success" %>
		</div>
	</div>
</center>

<hr>

<div class="row-fluid">
	<div class="span12">
		<p>
			HumbleCasa is the <b>free</b> and easy way to <b>schedule</b> and <b>track</b> home maintenance requests. See all of your maintenance requests in one place (house cleaners, landscapers, pool cleaners, etc.) and receive <b>verification</b> that the requested home services have been completed!
		</p>
		<ul>
			<li>
				Receive email notifications with pictures from your service provider when each service request is complete 
			</li>
			<li>
				HumbleCasa will verify the accuracy of these reports, giving you confidence that your home is in top shape
			</li>
			<li>
				Ideal for 2nd home owners who need to remotely turn properties around for future rentals or visitors, or anybody with a busy lifestyle that isn't always home to check up on their home service providers
			</li>
		</ul>
		<p>Create an account, register with your service providers, and manage your house from your computer or smartphone <b>all for free!</b></p>
	</div>
</div>
