<br>
<center><%= image_tag("HClogo.jpg", alt: "HumbleCasa.com logo", size: "120x45") %></center>
<z id="main-title">
	<h1>Welcome to HumbleCasa!</h1>
	<h2>...simplify your home maintenance</h2>
</z>
<p>
	HumbleCasa is the <b>free</b> and easy way to <b>schedule</b> and <b>track</b> home maintenance requests. See all of your maintenance requests in one place (house cleaners, landscapers, pool cleaners, etc.) and receive <b>verification</b> that the requested home services have been completed! 
</p>
<p>	Through HumbleCasa you'll receive email notifications with pictures from your service provider when each service 		request is complete. And HumbleCasa will verify the accuracy of these reports, giving you confidence that your home 	is in top shape.
</p>	
<p>
	We are ideal for 2nd home owners who need to remotely turn properties around for future rentals or visitors, or anybody with a busy lifestyle that isn't always home to check up on their home service providers.
</p>
<p>
	Create an account, register with your service providers, and manage your house from your computer or smartphone <b>all for free!</b>
</p>
<br>
<center>
	<% if current_user.nil? %>
		<div class="row-fluid">
			<div class="span6 offset3">
				<div class="span5">
					<p>
						<h5>New property owner account</h5>
						<p class="launch-user-form">
							<%= link_to new_user_path(role: "propertyowner"), remote: true, class: "btn btn-primary" do %>
								<i class="icon-user icon-white"></i> Create Account
							<% end %>
						</p>
					</p>
				</div>
				<div class="span2">
					<br>- or -
				</div>
				<div class="span5">
					<%= render 'shared/login_link'%>
				</div>
			</div>
		</div>
	<% else %>
		<br>
		<h5>You are currently logged in. If you'd like to create a new Property Owner account, click "Logout" below:</h5>
		<%= link_to "Logout", logout_path, class: "btn btn-primary"%>
		<br>
		<br>
		<%= link_to "Back to homepage", root_path, class: "btn"%>
	<% end %>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span8 offset2">
			<p class="service-notification">
				Do you own a company that provides home maintainence services? HumbleCasa can help you to connect with your customers, manage your workforce, and simplify both invoicing and payroll.<br> 
				Visit our <%= link_to "Service Provider page", business_path %> to get more details and sign up.
			</p>
		</div>
	</div>
</center>