<div class="dashboard">
	<h5>Updates by property:</h5>
	<% @property_listings.sort_by { |listing| listing.created_at}.each do |listing| %>
		<%= listing.name %><br>
		<ul>			
			<% listing.services.each do |s| %>
				<li><%= s.category.titleize %>: <%= s.name %>
					<ul>
						<% if !(@completed = completed_requests(s, listing)).nil? %>
							<% @newcompleted = @completed.find_all { |x| x.updated_at > current_user.last_login_at}%>
							<% if @newcompleted.size > 0 %>
								<li><%= pluralize(@newcompleted.size, 'service request') %> completed since your last login
									<ul>
										<% @newcompleted.each do |nc| %>
											<li>Completed on <%= nc.completed_date.strftime("%a %b %d, %Y") %>.
												<%= link_to "view report", service_request_path(nc), class: "btn btn-mini", remote: true %>
											</li>
										<% end %>
									</ul>
								</li>
							<% end %>
						<% end %>
						<li>Next scheduled service:
							<% if !(@open_SRs = open_requests(s, listing)).nil? %>	
								<% @open_SRs = @open_SRs.sort_by {|a| a.first_scheduled} %>
								<%= @open_SRs.first.first_scheduled.strftime("%a %b %d, %Y") %>
								<% if @open_SRs.first.onetime? %>
									(one-time request to be completed between <%=@open_SRs.first.service_start_date.strftime("%a %b %d, %Y")%> and <%= @open_SRs.first.service_end_date.strftime("%a %b %d, %Y") %>)
								<% else %>
									(repeating request - <%= @open_SRs.first.frequency.titleize.downcase %>
									<% if @open_SRs.first.frequency == "weekly" || @open_SRs.first.frequency == "every_other_week" %>
										on <%= @open_SRs.first.service_week_day%>s.
									<% else %>
										on the <%= @open_SRs.first.service_month_day.ordinalize %>.
									<% end %>)
								<% end %>									
							<% else %>
								no future service scheduled
							<% end %>
						</li>
						<% if !@newcompleted.nil? %>
							<li>Last service completed:
								<% if !(@completed_SRs = completed_requests(s, listing)).nil? %>
									<%= (@last = @completed_SRs.sort_by { |sr| sr.completed_date }.last).completed_date.strftime("%a %b %d, %Y") %> 
									<%= link_to "view report", service_request_path(@last), class: "btn btn-mini", remote: true %>
								<% else %>	
									no completed requests for this service
								<% end %>
							</li>
						<% end %>
					</ul>
				</li>
			<% end %>
			<% if listing.services.size == 0 %>
				<li> No services registered for this property. Click "Register or Change Services" below to sign-up!</li>
			<% end %>
		</ul>
	<% end %>
	<% if @property_listings.size == 0 %>
		No properties registered.
	<% end %>
</div>