<%= render 'static_pages/home_property/property_welcome_message' %>
<%= render 'static_pages/home_property/property_dashboard' %>
<hr>
<div class="tabcontainer"> 
	<div id="content">
    	<ul id="property-tabs" class="nav nav-tabs" data-tabs="tabs">	
	    	<% @first = true %>
	    	<% @property_listings.sort_by { |listing| listing.created_at}.each do |listing| %>
	    		<% if @first %>
	    			<li class="active">
	    			<% @first = false %>
	    		<% else %>
	    			<li>
	    		<% end %>
	    			<a href=<%= "#property-" + listing.id.to_s %> data-toggle="tab"><%= listing.name %></a></li>
	        <% end %>
	    	<li><a href=<%= new_user_property_path(@user)%> data-toggle="nav">+ Add another property</a></li>
	    </ul>
 
    	<div id="property-tab-contents" class="tab-content">
        	<% @first = true %>
        	<% @property_listings.each do |listing| %>			    
        		<% if @first %>
        			<div class="tab-pane active" id=<%= "property-" + listing.id.to_s %>>
	            	<% @first = false %>
	            <% else %>
        			<div class="tab-pane" id=<%= "property-" + listing.id.to_s %>>
	            <% end %>
	            	<div class="row-fluid">
						<div class="span2">
	            			<%= render 'static_pages/home_property/property_listing', property_listing: listing %> 
	            		</div>
	            		<div class="span10">
							<%= render 'static_pages/home_property/all_service_providers', property_listing: listing %>
						</div>
					</div>
    	    	</div>
        	<% end %>
        	<% if @first %>
        		<div class="tab-pane active" id=<%= new_user_property_path(@user)%>>
        	<% else %>
        		<div class="tab-pane" id=<%= new_user_property_path(@user)%>>
        	<% end %>
    	</div>
	</div>
</div>


<!-- Modal for service request -->
<div class="modal fade" id="service-request-pause-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog"  style="height:800px;">
    	<div class="modal-content">    
			<div class="modal-header">
				<button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
				<h3 id="myModalLabel">Pause Service Request</h3>
			</div>
			<div class="modal-body service-request-pause-body">	
			</div>
        	<div class="modal-footer">
          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          		<button type="button" class="btn btn-primary">Save changes</button>
        	</div>
		</div>
	</div>
</div>