<br>
<center><%= image_tag("HClogo.jpg", alt: "HumbleCasa.com logo", size: "120x45") %></center>
<p id="main-title">
	<h1>Welcome to HumbleCasa!</h1>
	<h2>...customer management and business tools for home service providers</h2>
</p>
<p>
	HumbleCasa is designed for small businesses in the home upkeep and maintainence industry. Our site tools make it easy to <b>improve customer satisfaction</b>, <b>manage your work requests and your workforce</b>, and <b>simplify invoicing and payroll</b>.
</p> 
<p>	We <u>are not</u> a marketplace for bidding on new customers or a place for your customers to move their business to 	somebody else! We want to help strengthen your connection with your existing customers and find new customers.
</p>

<p>
	Here's how it works:
	<ol>
		<li>You <b>create a profile for your business</b> on HumbleCasa. Also, have your employees create accounts so that you can use our workforce management tools.</li>
		<li>Your <b>customers create their accounts</b> on HumbleCasa (or some of our existing users become your new customers!) and they use our site tools to <b>schedule service requests</b> at their property.</li>
		<li>You get <b>notified via email</b> and on the site that you have new service requests and can <b>assign each request to one of your employees</b>.</li>
		<li>Your employee goes to the property, completes the service, and marks that it is done. <b>Your customer gets notified via email that their property has been serviced!</b></li>
		<li>At any time you can pull a report for your data from the site, which feeds into <b>customer invoices and payroll</b>.</li>
	</ol>
</p>
<p>
	HumbleCasa is completely free to your customers. We charge you a minimal amount (less than $1/month for each of your active customers). So if you're a seasonal business and your customers are only going to be using HumbleCasa for 1/2 of the year, you only pay for the months that they're active.
</p>
<p>
	<b>Our promise:</b> if you're not completely happy you can cancel at anytime and we'll refund your last 2 months charges. In addition, we offer the first month for free, so try us for 3 months at no risk.
</p>
<p>
	Not convinced? Take a <%= link_to "Feature Tour", static_pages_feature_tour_path%> and view our 
	<%= link_to "Pricing Plans", pricing_plans_path%>.
</p>
<p>
	Ready to sign-up? Click below to create your account as either a Service Owner or Employee
</p>

<center>
	<% if current_user.nil? %>
		<div class="row-fluid">
			<div class="span8 offset2">
				<div class="span4">
					<p>
						<h5>New service owner account</h5>
						<p class="launch-user-form">
							<%= link_to new_user_path(role: "serviceowner"), remote: true, class: "btn btn-primary" do %>
								<i class="icon-user icon-white"></i> New Service Owner Account
							<% end %>
						</p>
					</p>
				</div>
				<div class="span4">
					<p>
						<h5>New employee account</h5>
						<p class="launch-user-form">
							<%= link_to new_user_path(role: "employee"), remote: true, class: "btn btn-primary" do %>
								<i class="icon-user icon-white"></i> New Employee Account
							<% end %>
						</p>
					</p>
				</div>
				<div class="span4">
					<%= render 'shared/login_link'%>
				</div>
			</div>
		</div>
	<% else %>
		<br>
		<h5>You are currently logged in. If you'd like to create a new Service Owner or Employee account, click "Logout" below:</h5>
		<%= link_to "Logout", logout_path, class: "btn btn-primary"%>
		<br>
		<br>
		<%= link_to "Back to homepage", root_path, class: "btn"%>
	<% end %>
</center>