<%= render 'mailer_shared/email_header', title: "HumbleCasa: Service Completed, Issue with Credit Card"%>

<h2>Your service request for <%= @property.name %> has been completed! However, there was an issue with your credit card. Please login to your account on HumbleCasa to update your credit card info.</h2>
<p>
  <%= render 'mailer_shared/completion_details' %>
</p>           
<p>
  <%= render 'mailer_shared/request_details' %>
</p>
<p>
  <%= render 'mailer_shared/service_details' %>
</p>

<%= render 'mailer_shared/closing_to_property' %>
<%= render 'mailer_shared/email_footer' %>