<%= render 'mailer_shared/email_header', title: "HumbleCasa: Service Request Created"%>

<h2>New service request created by one of your clients </h2>
<p>
  <%= render 'mailer_shared/request_details' %>
</p>
<p>
 <%= render 'mailer_shared/client_and_property_details' %>
</p>
<br>
<br>
<p>Please log on to <a href="http://humblecasa.com/">HumbleCasa</a> to assign and complete this request.</p>
<br>
<%= render 'mailer_shared/closing_to_service' %>
<%= render 'mailer_shared/email_footer' %>