<%= render 'mailer_shared/email_header', title: "HumbleCasa: Service Request Scheduled"%>

<h2>Your service request for <%= @property.name %> has been assigned and scheduled!</h2>
<p>
  <h4> Schedule details:</h4>
  Scheduled date: <%= DateTime.parse(@service_request.first_scheduled.to_s).in_time_zone(@service_request.property.time_zone).strftime("%a %m/%d/%y %I:%M%p %Z") %><br>
  Assigned to: <%= @service_request.user.full_name %><br>
</p>           
<p>
  <%= render 'mailer_shared/request_details' %>
</p>
<p>
  <%= render 'mailer_shared/service_details' %>
</p>
<br>
<br>
<%= render 'mailer_shared/closing_to_property' %>
<%= render 'mailer_shared/email_footer' %>