<div id="srs">
	<h2 id="month">
	    <%= link_to "<", date: @date.prev_month %>
	    <%= @date.strftime("%B %Y") %>
	    <%= link_to ">", date: @date.next_month %>
	</h2>
  	<%= calendar @date do |date| %>
	    <%= date.day %>
	    <% if @srs_by_date[date.to_s] %>
				<ul>
	    		<% @srs_by_date[date.to_s].each do |sr| %>
					<% @start = Time.zone.parse(sr.first_scheduled.to_s).in_time_zone(sr.property.time_zone).strftime("%I:%M") %>
					<% @end = Time.zone.parse((sr.first_scheduled + sr.duration.hours).to_s).in_time_zone(sr.property.time_zone).strftime("%I:%M%p %Z") %>
					<% @link = sr.property.name + " " + @start + "-" + @end %>
					<% if sr.completed %>
						<li class="completed">	
					<% elsif date < Date.today %>
						<li class="late">	
					<% else %>
						<li class="open">
					<% end %>
						<%= link_to @link, service_request_path(sr) %><br>
					</li>
	    		<% end %>
				</ul>
		<% end %>
  	<% end %>
</div>