<h2><%= @business.name %>: Business Dashboard</h2>

<%= render 'static_pages/home_service/service_welcome_message' %>

<%= render 'static_pages/home_service/service_dashboard' %>

<hr>

<div class="tabcontainer"> 
	<div id="content">
    	<ul id="service-tabs" class="nav nav-tabs" data-tabs="tabs">	
	    	<li class="active"><a href="#calendar-tab" data-toggle="tab" class="service-tab">Calendar View</a></li>
	    	<li><a href="#customers-tab" data-toggle="tab" class="service-tab">Customers</a></li>
	    	<li><a href="#business-tab" data-toggle="tab" class="service-tab">Business Details</a></li>
	    	<li><a href="#employees-tab" data-toggle="tab" class="service-tab">Employees</a></li>
	    	<li><a href="#service-requests-tab" data-toggle="tab" class="service-tab">List View</a></li>
	    	<li><a href="#reports-tab" data-toggle="tab" class="service-tab">Reports</a></li>
	    </ul>
 
	    <div id="service-tab-content" class="tab-content">
	    	<div class="tab-pane active" id="calendar-tab">
				<%= render 'static_pages/home_service/service_calendar_view' %>
			</div>
			<div class="tab-pane" id="business-tab">
				<%= render 'static_pages/home_service/business_details' %>
			</div>
			<div class="tab-pane" id="customers-tab">
				<%= render 'static_pages/home_service/all_customers' %>
			</div>
			<div class="tab-pane" id="employees-tab">
				<%= render 'static_pages/home_service/all_employees' %>
			</div>
			<div class="tab-pane" id="service-requests-tab">
				<%= render 'static_pages/home_service/all_service_requests' %>
			</div>
			<div class="tab-pane" id="reports-tab">
				<div class="tabcontainer"> 
					<div id="content">
    					<ul id="report-tabs" class="nav nav-tabs" data-tabs="tabs">	
	    					<li class="active"><a href="#customer-reports-tab" data-toggle="tab" class="report-tab">Customer Reports</a></li>
	    					<li><a href="#service-reports-tab" data-toggle="tab" class="report-tab">Service Request Reports</a></li>
	    					<li><a href="#payment-reports-tab" data-toggle="tab" class="report-tab">Payment Reports</a></li>
	    				</ul>
						<div id="report-tab-content" class="tab-content">
			    			<div class="tab-pane active" id="customer-reports-tab">
								<%= render template: 'dossier/reports/customers', locals: {report: @customers_report.run } %></div>
							<div class="tab-pane" id="service-reports-tab">
								<%= render template: 'dossier/reports/service_requests', locals: {report: @service_requests_report.run } %></div>
							<div class="tab-pane" id="payment-reports-tab">
								<%= render template: 'dossier/reports/payments', locals: {report: @payments_report.run } %></div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>