<%= render 'static_pages/home_service/service_welcome_message' %>
<hr>
<a data-toggle="collapse" data-target="#business-details"><b><%= @business.name %></b> (view/edit details)</a></p>

<div id="business-details" class="collapse">
	<%= render @business %>
	<br>
	<%= render 'static_pages/home_service/service_zips' %>
	<%= link_to edit_service_path(id: @business.id), remote: true, class: "btn btn-mini" do%>
		<i class="icon-edit"></i> Edit Business
	<% end %>
	&nbsp
	<%= link_to @business, class: "btn btn-mini", method: :delete, confirm: "Are you sure? This will delete your association with all of your existing customers.", title: @business.name do%>
		<i class="icon-trash"></i> Delete Service
	<% end %>
	<hr>
</div>

<%= render 'static_pages/home_service/service_dashboard' %>

<hr>

<div class="tabcontainer"> 
	<div id="content">
    	<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">	
	    	<li class="active"><a href="#service-requests-tab" data-toggle="tab">Service requests</a></li>
	    	<li><a href="#customers-tab" data-toggle="tab">Customers</a></li>
	    	<li><a href="#employees-tab" data-toggle="tab">Employees</a></li>
	    	<li><a href="#calendar-tab" data-toggle="tab">Calendar View</a></li>
	    </ul>
 
	    <div id="my-tab-content" class="tab-content">
	    	<div class="tab-pane active" id="service-requests-tab">
				<%= render 'static_pages/home_service/all_service_requests' %>
			</div>
			<div class="tab-pane" id="customers-tab">
				<%= render 'static_pages/home_service/all_customers' %>
			</div>
			<div class="tab-pane" id="employees-tab">
				<%= render 'static_pages/home_service/all_employees' %>
			</div>
			<div class="tab-pane" id="calendar-tab">
				Coming in the next site update!
			</div>
		</div>
	</div>
</div>