<title>Login</title>
<h2>Login</h2>
<%= simple_form_for @user_session, url: user_session_path, :validate => true do |f| %>
  	<center>
	  	<%= f.input :email, label: false, placeholder: "email" %>
  		<%= f.input :password, label: false, placeholder: "password" %>
  		<%= link_to "Forgot your password? We'll send you an email to reset it", new_password_reset_path %></b>
  		<br>
  		<br>
 		<button class="btn btn-primary" id="save-btn" type="submit" data-disable-with="Saving...">
			<i class="icon-ok-sign icon-white"></i> Login
		</button>
		&nbsp			
		<%= link_to "Cancel", root_path, class: "btn" %>
	</center>
<% end %>