<footer class="footer">
	<%# if !current_user.nil? %>
	 	<%# if !@user.nil? && @user.role.to_s != "propertyowner" %>
			<%#= render 'shared/homeowner_footer_tag' %>
		<%# else %>
			<%#= render 'shared/default_footer_tag' %>
		<%# end %>
	<%# else %>
		<%= render 'shared/default_footer_tag' %>
	<%# end %>
	<br>
	<center>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Terms of Use", terms_of_use_path %></li>
			<li><%= link_to "Privacy Policy", privacy_policy_path %></li>
			<li><%= link_to "Contact", contact_us_path %></li>
			<li><%= link_to "Careers", careers_path %></li>
		</ul>
	</center>
</footer>