<header class ="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">	
			<%= link_to "HumbleCasa", root_path, class: "logo" %><z class="beta">beta</z>
			<nav>
				<ul class="nav pull-right">
					<% if current_user %>
						Welcome, <%= current_user.first_name %>
						&nbsp
						&nbsp
						&nbsp
						
						<%= link_to "User Account", edit_user_path(current_user), remote: true, class: "launch-user-form"%> | 
						<%= link_to "Logout", logout_path %>
					<% else %>
						<%= link_to "Register", new_user_path(role: "propertyowner"), remote: true, class: "launch-user-form" %> | 
						<%= link_to "Login", login_path, remote: true, class: "launch-login-form" %>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>