<%= simple_form_for @master_service_request, :validate => true do |f| %>
    <div class="row-fluid">
		<div class="span2">  
			<h5 class="sr-form">Property:</h5> <%= render @property %>
			<hr>
			<h5>Service:</h5> <%= render @service%>
			<%= f.hidden_field :property_id, value: @property.id %>
			<%= f.hidden_field :service_id, value: @service.id %>
			<%= f.hidden_field :time_zone, value: @property.time_zone %>
			<% Time.zone = @property.time_zone %>
			<%= f.hidden_field :duration, value: 1 %> 
			<%= f.hidden_field :charge, value: @assignment.cost %>
		</div>
		<div class="span10">
			<%= f.input :onetime, input_html: {value: @master_service_request.onetime, class: "onetime"},
	    	collection: [[true, 'One-time request'], [false, 'Repeating request']],
	    	label_method: :last, value_method: :first, label: "* Request type:", as: :radio_buttons %>

		    <div class="onetime-fields">
		    	<p>
		    		Define a service window when you need this service completed by:
		    	</p>
				<%= f.input :start_date, as: :fake, input_html: {id: "start-date-picker", value: @master_service_request.try(:service_start_date).try(:strftime,'%m/%d/%Y %I:%M%p %z')}, label: "* Don't start before:" %>
		    	<%= f.input :service_start_date, as: :hidden, input_html: { class: "service_start_date"} %>

		    	<%= f.input :end_date, as: :fake, input_html: {id: "end-date-picker", value: @master_service_request.try(:service_end_date).try(:strftime,'%m/%d/%Y %I:%M%p %z')}, label: "* Must be completed by:" %>
		    	<%= f.input :service_end_date, as: :hidden, input_html: { class: "service_end_date"} %>

			</div>

			<div class="repeating-fields">
			    	
		    	<%= f.input :frequency, input_html: {value: @master_service_request.frequency, class: "frequency" },
		    	collection: [['weekly', 'Weekly'], ['every_other_week', 'Every other week'], ['monthly', 'Monthly'], 
		    		['every_other_month', 'Every other month']], label_method: :last, value_method: :first %>
				
		    	<div class="weekly-fields">
		    		<%= f.input :service_week_day, input_html: {value: @master_service_request.service_week_day, id: "daypicker" }, label: "Which day of the week:", collection: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %>
		    	</div>

		    	<div class="monthly-fields">
		    		<%= f.input :service_month_day, input_html: {value: @master_service_request.service_month_day, id: "monthpicker" }, label: "Which day of the month:", collection: 1...31 %>
		    	</div>

		    	<div id="first-scheduled-fields">
		    		First service will be scheduled on: <b><span id="date-string"></span></b><br><br>
		    		<%= f.input :first_scheduled, as: :hidden, input_html: { class: "first_scheduled"} %>
		    	</div>
			    
			</div>

			<%= f.input :instructions, label: "Specific instructions for this service request:", as: :text, placeholder: "optional", :input_html => { :cols => 40, :rows => 10 } %>
					
			<% if current_user != @property.user %>
				<p><b>ATTENTION</b>: You are creating a service request for a property which you are not the owner of. This not allowed without the expressed permission of the property owner.</p>
			<% end %>
		
			<br>
    	
			<p id="terms-agreeement-details">  
		    	<b>Terms and Conditions:</b>
		    	Clicking 'Create service request' will automatically schedule and alert your service provider for this service request. By creating this service request you agree to pay your service provider the agreed upon amount upon the completion of the work. We highly recommend that you contact your service provider before scheduling your first service to determine payment terms and rates.
		    </p>
    		<%= f.input :terms_agreement, as: :boolean, inline_label: "I agree to the Terms and Conditions", label: false %>
			<br>
		</div>
	</div>
	 <center>
		<button class="btn btn-primary" type="submit" id="save-btn" data-disable-with="Saving...">
			<i class="icon-ok icon-white"></i> Save
		</button>
		&nbsp		
		<%= link_to "Cancel", root_path, class: "btn" %>
	</center>
<% end %>