<%= provide(:title, 'Pause Service Request') %>
<h2>Pause Service Request</h2>
<p>
	Schedule a pause in your repeating service request. Tell us when you'd like to resume this service and we'll schedule for the next available date according your request's scheduling rules.
</p>
<br>
<%= simple_form_for @master_service_request do |f| %>
	<div class="checkbox inline">	    
  	<%= f.input :paused, input_html: {value: @master_service_request.paused, class: "paused"},
	    	collection: [[true, 'Yes'], [false, 'No']],
	    	label_method: :last, value_method: :first, label: "Pause request:", as: :radio_buttons %> 
	</div>

	<%= f.input :restart_date, as: :fake, input_html: {id: "restart-date-picker", value: @master_service_request.try(:first_scheduled).try(:strftime,'%m/%d/%Y')}, label: "Resume on:" %>


	Next service is scheduled for: <b><span id="date-string"></span></b><br><br>
	<%= f.input :first_scheduled, as: :hidden, input_html: { class: "first_scheduled"} %>
	
	<%= f.input :frequency, as: :hidden %>
	<%= f.input :service_week_day, as: :hidden %>
	<%= f.input :service_month_day, as: :hidden %>

	<center><%= render partial: 'shared/modal_buttons', locals: {save_button_label: "Update service request"} %></center>
		
<% end %>


